#exampleInputEmail1{
  font-size: 20px;
}
#floatingTextarea{
  font-size: 20px;
}

label{
  font-size: 25px;
  /* font-style: inherit; */
}

#resetBtn{
  margin-right: 15px;
  font-size: 20px;
}

#submitBtn{
  font-size: 20px;
}